body{
  background-color: #31471f;
}
.topo nav{
  background: #2a502a;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
.topo h1{
  color: #bcc373;
  text-align: left;
  font-style: oblique;
  font-size: 25px;
}
.topo li{
  display: inline-block;
  list-style: none;
  letter-spacing: 2px;
  font-variant: small-caps;
  font-size: 20px;
  margin-right: 10px;
}
.topo a{
  text-decoration: none;
  color: #bcc373;
}
.topo a:hover{
  text-shadow: 3px 3px 2px black;
}
.principal{
  margin-left: 10%;
  margin-right: 10%;
}
.principal img{
  width: 370px;
  height: 217px;
  margin: 20px;
}
footer{
  height: 50px;
  text-align: center;
  background: #0d1706;
  color: #bcc373;
  padding: 10px;
  margin-top: 15px;
}
